<!DOCTYPE html>
<html>
        
    <head>
        <title>404</title>
        {{>links}}
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <div class="above-footer">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
    
</html>