<!DOCTYPE html>
<html>
        
    <head>
        <title>About</title>
        {{>links}}
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by {{name}} using the Mapbox and Dark Sky API's.</p>
            <div class="img-wrapper">
                <img class="portrait" src="img/Sarah.jpg">
            </div>
        </div>
        {{>footer}}
    </body>
    
</html>