<!DOCTYPE html>
<html>
        
    <head>
        <title>Help</title>
        {{>links}}
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
    
</html>